#formBasicEmail {
    width: 400px;
}

#formBasicPassword {
    width: 400px;
}
.signUp {
    text-align: right;
    margin-right: 245px;
}
.signIn {
     margin-right: 245px;
 }
.errorMsg {
    color: red;
}